<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/">Springboot Sqlite3 App</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Customers</a>
      </div>
    </div>
  </nav>
