
<div class="row m-0">
  <div class="col-xl-6">
    <label>Country Filter</label>
    <div class="ng-input">
      <ng-select
        [items]="countryList"
        [multiple]="true"
        [hideSelected]="true"
        bindLabel="name"
        placeholder="Select Country"
        [(ngModel)]="selectedCountry">
      </ng-select>
    </div>
  </div>
  <div class="col-xl-6">
    <label>State Filter</label>
    <div class="ng-input">
      <ng-select
        [items]="stateList"
        bindLabel="name"
        placeholder="Select State"
        [(ngModel)]="selectedState"
        wid>
      </ng-select>
    </div>
  </div>
</div>
<div class="row m-0 pt-5">
  <div class="col-xl-12">
    <div class="table-viewport table-responsive">
      <table class="table" [mfData]="filteredCustomerList" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
          <tr class="d-flex">
            <th class="col-1">
              <mfDefaultSorter by="id">ID</mfDefaultSorter>
            </th>
            <th class="col-3">
              <mfDefaultSorter by="name">Name</mfDefaultSorter>
            </th>
            <th class="col-3">
              <mfDefaultSorter by="phone.number">Phone</mfDefaultSorter>
            </th>
            <th class="col-2">
              <mfDefaultSorter by="phone.countryName">Country</mfDefaultSorter>
            </th>
            <th class="col-2">
              <mfDefaultSorter by="phone.countryCode">Country Code</mfDefaultSorter>
            </th>
            <th class="col-1">
              <mfDefaultSorter by="phone.state">State</mfDefaultSorter>
            </th>
          <tr>
        </thead>
        <tbody>
          <tr class="d-flex"
            *ngFor="let customer of mf.data"
            [ngClass]="{'phone-valid' : customer.phone.state, 'phone-invalid' : !customer.phone.state}">
            <td class="col-1">
              {{customer.id}}
            </td>
            <td class="col-3">
              {{customer.name}}
            </td>
            <td class="col-3">
              {{customer.phone.number}}
            </td>
            <td class="col-2">
              {{customer.phone.countryName}}
            </td>
            <td class="col-2">
              {{customer.phone.countryCode}}
            </td>
            <td class="col-1">
              {{customer.phone.state}}
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>

      <div *ngIf="isCustomerListEmpty" class="alert alert-info">
        No Customer data for current filter
      </div>
    </div>
  </div>
</div>
